/* GLOBAL VARIABLES */
.bg-color-one {
    background-image: linear-gradient(to right, var(--cor3), var(--cor4));
}

:root {
   --cor0: #64069A;
   --cor1: #9860B8;
   --cor2: #A778C3;
   --cor3: #4484b871;
   --cor4: #74c07c9f;
   --cor5: #fff;
   --cor6: #000;
   /* Key colors */
   --cor7: #1C1C25;
   --cor8: #241653;
   --cor9: #4f3b9971;
   --cor10: #673AE1;
   --cor11: #9C7CF8;
}

#keyboard-container {
    border: 1px solid var(--cor6);
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
}

#div-01, #key-box, #div-03 {
    display: flex;
    flex-wrap: wrap;
}



 p {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

/* Hexagonal keys */
#key-box {
    border: 1px solid #ddd;
    width: 700px;

}

#key-box .item {
    margin:2px 38px;
    height:90px;
    width:100px;
    position:relative;
    overflow:hidden;
    margin-right: -35px;
    margin-top: 10px;
    margin-left: 26px;
    vertical-align:middle;
    transform: rotate(-32deg);
}

#key-box .item span {
    /*overflow:hidden;*/
    position:absolute;
    height:110%;
    width:100%;
    top:-5%;
    left:0;
    background:rgb(236, 234, 234);
    transform:rotate(45.5deg) skew(16.5deg,15.5deg);
    box-shadow: 3px 2px 4px #000;
    border: #000;
}

#key-box .item span p {
    transform:rotate(-25deg) skew(0,0) scale(2.4,0.77);
    width: 180%;
    height: 300%;
}

.item:nth-child(odd) {
    margin-bottom: 15px;
}
.item:nth-child(even) {
    margin-bottom:-180px;
}

/*

#key-q {
    box-sizing: border-box;
}

#key-w {
    box-sizing: border-box;
}

#key-e {
    box-sizing: border-box; 
}
#key-r {
    box-sizing: border-box;
}
#key-t {
    box-sizing: border-box;
}
#key-y {
    box-sizing: border-box;
}
*/