/* GLOBAL VARIABLES */
:root {
   --cor0: #64069A;
   --cor1: #9860B8;
   --cor2: #A778C3;
   --cor3: #4484b871;
   --cor4: #74c07c9f;
   --cor5: #fff;
   --cor6: #000;
   /* Key colors */
   --cor7: #1C1C25;
   --cor8: #241653;
   --cor9: #4f3b9971;
   --cor10: #5e26f8;
   --cor11: #9C7CF8;
}


/*APAGAR!!!!!*/
#div-01, #div-03, #boxTwo {
    border: 1px solid black;
}
#boxTwo {
    width: 700px;
    height: 300px;
    position: relative;
    margin: auto;
    border: 1px solid black;
}


/* keyboard box */
#key-box {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

/* Button position */

a.button.border {
    position: absolute;
    top: 1150px;
}

/* General Button Style */

.button {
    position: relative;
    display: block;
    background: transparent;
    width: 50px;
    height: 80px;
    line-height: 75px;
    text-align: center;
    font-size: 1.6em;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    margin: 0px 12px;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
  }
  .button:before,
  .button:after {
    position: absolute;
    content: '';
    width: 50px;
    left: 0px;
    height: 31px;
    z-index: -1;
  }
  
  .button:before {
    transform: perspective(21px) rotateX(30deg);
  }
  .button:after {
    top: 42px;
    transform: perspective(21px) rotateX(-30deg);
  }
  
  /* Button Border Style */
  
  .button.border:before,
  .button.border:after {
    border: 2px solid #000;
  }
  .button.border:before {
    border-bottom: none; /* to prevent the border-line showing up in the middle of the shape */
  }
  .button.border:after {
    border-top: none; /* to prevent the border-line showing up in the middle of the shape */
  }
  
  /* Button hover styles */
  
  .button.border:hover:before,
  .button.border:hover:after {
    background-image: linear-gradient(to right, var(--cor4), var(--cor10)) ;
  }
  .button.border:hover {
    color: #fff;
  }

  .button.border {
    border: none !important;
  }


/* Hexagonal keys */

#key-q {
    top: 5px;
    left: 215px;
}
#key-w {
    top: 5px;
    left: 335px;
}

#key-e {
    top: 38px;
    left: 155px;
}
#key-r {
    top: 38px;
    left: 275px;
}
#key-t {
    top: 36px;
    left: 397px;
}
#key-y {
    top: 72px;
    left: 95px;
}
#key-u {
    top: 72px;
    left: 215px;
}
#key-i {
    top: 70px;
    left: 337px;
}
#key-o {
    top: 70px;
    left: 457px;
}
#key-p {
    top: 105px;
    left: 155px;
}
#key-a {
    top: 105px;
    left: 277px;
}
#key-s {
    top: 103px;
    left: 397px;
}
#key-d {
    top: 138px;
    left: 95px;
} 
#key-f {
    top: 138px;
    left: 216px;
}
#key-g {
    top: 138px;
    left: 337px;
}
#key-h {
    top: 137px;
    left: 457px;
}
#key-j {
    top: 171px;
    left: 155px;
}
#key-k {
    top: 171px;
    left: 276px;
}
#key-l {
    top: 171px;
    left: 397px;
}
#key-z {
    top: 204px;
    left: 95px;
}
#key-x {
    top: 204px;
    left: 215px;
}
#key-c {
    top: 204px;
    left: 337px;
}
#key-v {
    top: 204px;
    left: 457px;
}
#key-b {
    top: 237px;
    left: 155px;
}
#key-n {
    top: 237px;
    left: 275px;
}
#key-m {
    top: 237px;
    left: 397px;
}

  
 
 @media (max-width: 300px) {
 #exam-image {
     width: 200px;
 }
 }

 

 @media (max-width: 576px) {
    #key-box {
        width: 350px;
        border: 1px solid rgb(148, 24, 24);
    }

    #boxTwo {
        width: 300px;
        height: 300px;
        border: 1px solid rgb(224, 0, 0);
    }
    /* Hexagonal keys */

#key-q {
    top: -33px;
    left: 112px;
    }
#key-w {
    top: 0px;
    left: 50px;
}
#key-e {
    top: 0px;
    left: 174px;
}

#key-r {
    top: 30px;
    left: -12px;
}
#key-t {
    top: 32px;
    left: 112px;
}
#key-y {
    top: 30px;
    left: 237px;
}
#key-u {
    top: 65px;
    left: 50px;
}
#key-i {
    top: 65px;
    left: 174px;
}
#key-o {
    top: 95px;
    left: -12px;
}
#key-p {
    top: 95px;
    left: 112px;
}
#key-a {
    top: 95px;
    left: 237px;
}
#key-s {
    top: 130px;
    left: 50px;
}
#key-d {
    top: 130px;
    left: 175px;
}
#key-f {
    top: 160px;
    left: -12px;
} 
#key-g {
    top: 160px;
    left: 112px;
}
#key-h {
    top: 160px;
    left: 237px;
}
#key-j {
    top: 195px;
    left: 50px;
}
#key-k {
    top: 195px;
    left: 175px;
}
#key-l {
    top: 225px;
    left: -12px;
}
#key-z {
    top: 225px;
    left: 112px;
}
#key-x {
    top: 225px;
    left: 237px;
}
#key-c {
    top: 260px;
    left: 50px;
}
#key-v {
    top: 260px;
    left: 175px;
}
#key-b {
    top: 290px;
    left: -12px;
}
#key-n {
    top: 290px;
    left: 112px;
}
#key-m {
    top: 290px;
    left: 237px;
}

#boxTwo {
    top: 15px;
}
    
    }
 

@media (max-width: 768px) {
    #key-box {
        width: 550px;
        border: 1px solid rgb(24, 53, 148);
    }

    #boxTwo {
        width: 480px;
        height: 300px;
        border: 1px solid rgb(224, 209, 0);
    }
    #key-q {
        top: -33px;
        left: 202px;
        }
    #key-q {
        top: 0px;
        left: 140px;
    }
    #key-w {
        top: 0px;
        left: 264px;
    }
    
    #key-e {
        top: 30px;
        left: 78px;
    }
    #key-r {
        top: 32px;
        left: 202px;
    }
    #key-t {
        top: 30px;
        left: 327px;
    }
    #key-y {
        top: 63px;
        left: 17px;
    }
    #key-u {
        top: 65px;
        left: 140px;
    }
    #key-i {
        top: 65px;
        left: 265px;
    }
    #key-o {
        top: 63px;
        left: 388px;
    }
    #key-p {
        top: 97px;
        left: 78px;
    }
    #key-a {
        top: 97px;
        left: 203px;
    }
    #key-s {
        top: 97px;
        left: 327px;
    }
    #key-d {
        top: 128px;
        left: 16px;
    } 
    #key-f {
        top: 130px;
        left: 140px;
    }
    #key-g {
        top: 130px;
        left: 265px;
    }
    #key-h {
        top: 128px;
        left: 390px;
    }
    #key-j {
        top: 163px;
        left: 77px;
    }
    #key-k {
        top: 163px;
        left: 203px;
    }
    #key-l {
        top: 163px;
        left: 327px;
    }
    #key-z {
        top: 194px;
        left: 15px;
    }
    #key-x {
        top: 194px;
        left: 140px;
    }
    #key-c {
        top: 194px;
        left: 265px;
    }
    #key-v {
        top: 193px;
        left: 389px;
    }
    #key-b {
        top: 228px;
        left: 78px;
        }
    #key-n {
        top: 228px;
        left: 202px;
    }
    #key-m {
        top: 228px;
        left: 327px;
    }
    
    #boxTwo {
        top: 15px;
    }
}


/*
@media (max-width: 992px) {
#key-box {
    width: 750px;
    border: 3px solid rgb(24, 151, 151);
}

#boxTwo {
    width: 680px;
    height: 300px;
    border: 3px solid rgb(198, 0, 224);
}
*/
    /* Hexagonal keys */
/*
#key-q {
    top: 5px;
    left: 240px;
}
#key-w {
    top: 5px;
    left: 360px;
}

#key-e {
    top: 38px;
    left: 180px;
}
#key-r {
    top: 38px;
    left: 300px;
}
#key-t {
    top: 36px;
    left: 422px;
}
#key-y {
    top: 72px;
    left: 120px;
}
#key-u {
    top: 72px;
    left: 240px;
}
#key-i {
    top: 70px;
    left: 362px;
}
#key-o {
    top: 70px;
    left: 482px;
}
#key-p {
    top: 105px;
    left: 180px;
}
#key-a {
    top: 105px;
    left: 302px;
}
#key-s {
    top: 103px;
    left: 422px;
}
#key-d {
    top: 138px;
    left: 120px;
} 
#key-f {
    top: 138px;
    left: 241px;
}
#key-g {
    top: 138px;
    left: 362px;
}
#key-h {
    top: 137px;
    left: 482px;
}
#key-j {
    top: 171px;
    left: 180px;
}
#key-k {
    top: 171px;
    left: 301px;
}
#key-l {
    top: 171px;
    left: 422px;
}
#key-z {
    top: 204px;
    left: 120px;
}
#key-x {
    top: 204px;
    left: 240px;
}
#key-c {
    top: 204px;
    left: 362px;
}
#key-v {
    top: 204px;
    left: 483px;
}
#key-b {
    top: 237px;
    left: 180px;
}
#key-n {
    top: 237px;
    left: 300px;
}
#key-m {
    top: 237px;
    left: 422px;
}
}*/