/* GLOBAL VARIABLES */
:root {
   --cor0: #64069A;
   --cor1: #9860B8;
   --cor2: #A778C3;
   --cor3: #4484b871;
   --cor4: #39d47afd;
   --cor5: #fff;
   --cor6: #000;
   --cor7: #1C1C25;
   --cor8: #241653;
   --cor9: #4f3b9971;
   --cor10: #5e26f8;
   --cor11: #9C7CF8;
}

/* Div to center keyboard */
#boxTwo, #letter-a, #q-group-keyboard, #w-group-keyboard, #e-group-keyboard, #r-group-keyboard  {
    position: relative;
    margin: auto;
    z-index: 1;
    
}


/* keyboard box */
#key-box, #q-group-keyboard, #w-group-keyboard, #e-group-keyboard, #r-group-keyboard {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
}

/* Button position */

a.button.border {
    position: absolute;
    top: 1150px;
    z-index: 2;
}

/* General Button Style */

.button {
    position: relative;
    display: block;
    background: transparent;
    width: 80px;
    height: 80px;
    line-height: 85px;
    text-align: center;
    font-size: 1.6em;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(122, 106, 106);
    margin: 0px 12px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    z-index: 1;
    border: none !important;
  }

  #boxTwo > a:hover, #q-group-keyboard > a:hover, #w-group-keyboard > a:hover, #e-group-keyboard > a:hover, #r-group-keyboard > a:hover
   {
    box-shadow: 10px 8px 12px gray;
    border-radius: 50%;
    color: #fff;
    }

  .button:before,
  .button:after {
    position: absolute;
    content: '';
    width: 50px;
    left: 16px;
    top: 5px;
    height: 31px;
    z-index: -1;
    
  }
  
  .button:before {
    transform: perspective(21px) rotateX(30deg);
    z-index: -1;
    
  }
  .button:after {
    top: 45px;
    transform: perspective(21px) rotateX(-30deg);
    z-index: -1;
    
  }
  
  /* Button Border Style */
  
  .button.border:before,
  .button.border:after {
    border: 2px solid rgb(122, 106, 106);
  }
  .button.border:before {
    border-bottom: none; /* to prevent the border-line showing up in the middle of the shape */
  }
  .button.border:after {
    border-top: none; /* to prevent the border-line showing up in the middle of the shape */
  }
  
  /* Button hover styles */
  
  .button.border:hover:before,
  .button.border:hover:after {
    background-image: linear-gradient(to right, var(--cor4), var(--cor10)) ;
    color: #fff;
  }


  /*Instruction*/
  #instruction {
      position: relative;
      top: -70px;
  }

  #instruction-gruop {
      position: relative;
      top: -88px;
}


  /*Return button*/
  #returnBtn {
      position: relative;
      background-color: var(--cor1);
      border: none;
      font-weight: bold;
      top: 30px;
  }

  /*Group page return button q*/
  #returnBtn-group {
    position: relative;
    background-color: var(--cor1);
    border: none;
    font-weight: bold;
    top: 25px;
  }

  #returnBtn:hover {
      box-shadow: 5px 5px 8px gray;
  }


/* Hexagonal keys */

#boxTwo, #letter-a {
    width: 480px;
    height: 300px;
}
#key-q {
    top: -33px;
    left: 202px;
    }
#key-q {
    top: 0px;
    left: 140px;
}
#key-w {
    top: 0px;
    left: 264px;
}

#key-e {
    top: 30px;
    left: 78px;
}
#key-r {
    top: 32px;
    left: 202px;
}
#key-t {
    top: 30px;
    left: 327px;
}
#key-y {
    top: 63px;
    left: 17px;
}
#key-u {
    top: 65px;
    left: 140px;
}
#key-i {
    top: 65px;
    left: 265px;
}
#key-o {
    top: 63px;
    left: 388px;
}
#key-p {
    top: 97px;
    left: 78px;
}
#key-a {
    top: 97px;
    left: 203px;
}
#key-s {
    top: 97px;
    left: 327px;
}
#key-d {
    top: 128px;
    left: 16px;
} 
#key-f {
    top: 130px;
    left: 140px;
}
#key-g {
    top: 130px;
    left: 265px;
}
#key-h {
    top: 128px;
    left: 390px;
}
#key-j {
    top: 163px;
    left: 77px;
}
#key-k {
    top: 163px;
    left: 203px;
}
#key-l {
    top: 163px;
    left: 327px;
}
#key-z {
    top: 194px;
    left: 15px;
}
#key-x {
    top: 194px;
    left: 140px;
}
#key-c {
    top: 194px;
    left: 265px;
}
#key-v {
    top: 193px;
    left: 389px;
}
#key-b {
    top: 228px;
    left: 78px;
    }
#key-n {
    top: 228px;
    left: 202px;
}
#key-m {
    top: 228px;
    left: 327px;
}


/* For screen less than 576px */
@media (max-width: 576px) {

    #exam-image{
        width: 290px;
    }
    #key-box {
        width: 300px;
    }

    #key-q {
        top: 32px;
        left: 38px;
    }
    #key-w {
        top: 32px;
        left: 163px;
    }
    #key-e {
        top: 65px;
        left: 100px;
    }
    #key-r {
        top: 97px;
        left: 38px;
    }
    #key-t {
        top: 97px;
        left: 163px;
    }
    #key-y {
        top: 130px;
        left: 100px;
    }
    #key-u {
        top: 163px;
        left: 38px;
    }
    #key-i {
        top: 163px;
        left: 163px;
    }
    #key-o {
        top: 195px;
        left: 100px;
    }
    #key-p {
        top: 229px;
        left: 38px;
    }
    #key-a {
        top: 229px;
        left: 162px;
    }
    #key-s {
        top: 261px;
        left: 100px;
    } 
    #key-d {
        top: 294px;
        left: 38px;
    }
    #key-f {
        top: 294px;
        left: 162px;
    }
    #key-g {
        top: 326px;
        left: 100px;
    }
    #key-h {
        top: 359px;
        left: 38px;
    }
    #key-j {
        top: 359px;
        left: 161px;
    }
    #key-k {
        top: 392px;
        left: 100px;
    }
    #key-l {
        top: 425px;
        left: 38px;
    }
    #key-z {
        top: 425px;
        left: 161px;
    }
    #key-x {
        top: 458px;
        left: 100px;
    }
    #key-c {
        top: 490px;
        left: 38px;
    }
    #key-v {
        top: 490px;
        left: 161px;
        }
    #key-b {
        top: 523px;
        left: 100px;
    }
    #key-n {
        top: 556px;
        left: 38px;
    }
    #key-m {
        top: 556px;
        left: 161px;
    }

    /*Foot text*/
    #instruction {
        position: relative;
        bottom: -300px;
    }
    /* Foot */
    #foot {
        height: 300px;
    }
     /*Instruction*/
  #instruction {
    position: relative;
    top: 260px;
}

/*Return button*/
#returnBtn {
    top: 350px;
}


}



/* A group of keys */
#letter-a {
    top: -30px;
    display: none;
}

/*Q group keyboard page*/
/*Key box*/
#q-group-keyboard, #w-group-keyboard, #e-group-keyboard, #r-group-keyboard {
    width: 280px;
    height: 250px;
}
/*Position keys*/
#key-q-Page-q, #key-w-Page-w, #key-e-Page-e, #key-r-Page-r {
    top: 85px;
    left: 87px;
}
#key-o-Page-q, #key-m-Page-w, #key-f-Page-e, #key-p-Page-r {
    top: 20px;
    left: 87px;
}
#key-c-Page-q, #key-v-Page-w, #key-b-Page-e, #key-b-Page-r {
    top: 52px;
    left: 149px;
}
#key-g-Page-q, #key-n-Page-w, #key-r-Page-e, #key-l-Page-r {
    top: 117px;
    left: 149px;
}
#key-d-Page-q, #key-u-Page-w, #key-p-Page-e, #key-e-Page-r {
    top: 150px;
    left: 87px;
}
#key-k-Page-q, #key-e-Page-w, #key-m-Page-e, #key-f-Page-r {
    top: 117px;
    left: 25px;
}
#key-p-Page-q, #key-x-Page-w, #key-w-Page-e, #key-k-Page-r {
    top: 52px;
    left: 25px;
}



/* ########## Main button clicked ########### */
#key-q-Page-q, #key-w-Page-w, #key-e-Page-e, #key-r-Page-r {
    box-shadow: 10px 8px 12px gray;
    border-radius: 50%;
    color: #fff;
    cursor: default;
    }
.button.border#key-q-Page-q:before,
.button.border#key-q-Page-q:after,
 
.button.border#key-w-Page-w:before,
.button.border#key-w-Page-w:after,

.button.border#key-e-Page-e:before,
.button.border#key-e-Page-e:after,

.button.border#key-r-Page-r:before,
.button.border#key-r-Page-r:after {
    background-image: linear-gradient(to right, var(--cor4), var(--cor10));
}

/*
.chosen-letter {
    box-shadow: 10px 8px 12px gray;
    border-radius: 50%;
    color: #fff;
    background-image: linear-gradient(to right, var(--cor4), var(--cor10)) ;
}
*/
